.centered-container {
  position: absolute;
  margin: 0;
  margin-right: -50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.action-buttons {
  width: 300px;
}

.action-buttons > * {
  margin-bottom: 5px !important;
}

.action-buttons > *:last-child {
  margin-bottom: 0px !important;
}
